@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  /* 主蓝色，按钮，社交图标 */
  --primary-color: #71b3dd;
  /* 主蓝色，深，导航 */
  --primary-dark-color: #4489b5;
  --text-color-gray: #8b979f;
  --text-color-light-gray: #c1c7cb;
  --text-color-dark-gray: #5a6f7c;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Raleway", "PingFang SC",
    "Microsoft Yahei", sans-serif;
}

.wrapper {
  /* 栅格布局，居中卡片 */
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  column-gap: 12px;/*列之间的空隙宽度*/
  width: 827px;
  height: 574px;
  box-shadow: 0px 0px 22px 3px rgba(0, 0,0, 0.18);
}

.profile-image{
  grid-column: 8 / 13;
  max-width: 238px;
  height: 100%;
  overflow: hidden;
  align-self: start;
  justify-self: end;
}
.profile-image img{
  object-fit: cover;
  height: 574px;
}

.content{
  grid-column: 1/8;
  padding: 38px 28px 20px 33px;
}

nav{
  margin-bottom: 24px;
  display: flex;
  position: relative;
}

nav a{
  color:  var(--text-color-gray);
  text-decoration: none;
}

nav a.active{
  color: var(--primary-dark-color);
}

nav a:not(:last-child){
  margin-right: 40px;
}

nav .indicator{/*点击切换时的效果*/
  height: 2px;
  width: 75px;
  background: var(--primary-dark-color);
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: 0.4s;
}

.content section{
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-out;

}

.content section.active-section{
  opacity: 1;
}

.personal-info{
  display: grid;
  grid-auto-columns: 1fr 1fr;
}

.title h1{
  font-size: 2em;
  font-weight: 500;
}

.title p{
  color:var(--text-color-gray);
  margin:6px 0 18px 0;
}

.about-me{
  color:var(--text-color-dark-gray);
  font-weight: 400;
  text-align: justify;
}

footer{
  margin-top: 70px;
}

footer ul{
  display: flex;
  flex-direction: column;
}

footer ul li{
  list-style:none;
}

footer ul li:not(:last-child){
  margin-bottom: 30px;
}

footer .fa{
  color: var(--primary-color);
  font-size: 24px;
}

.project-exps-section{
  color:var(--text-color-gray);
  grid-template-rows: repeat(3,minmax(80px,auto));
}

.project-exps-item{
  display: flex;
  flex-direction: column;
}

.name{
  font-size: 18px;
  font-weight:500;
}

.seperator{
  height: 43px;
  border-left: 2px dotted #eaeff2;
}

.time{
  color:var(--text-color-light-gray)
}

.detials{
  font-size: 14px;
  color:var(--text-color-dark-gray);
  margin-top: 9px;
}